:root {
    --bodybg-color: #f6f8f9;
    --bannerbg-color: white;
    --bottoneditorial-color: #47adf1;
    --check-color: #79c9b6;
    --cross-color: #eb5952;
    --bottongoals-color: #9c72e4;
    --bottonrecruiting-color: #64c0a9;
    --bottonmobile-color: #f29e33;
    --bottonwebsite-color: #d963a0;
    --bottonsales-color: #b0c926;
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bodybg-color);
}

main {
    width: 800px;
    margin: 0 auto;
}

.ftext {
    font-family: 'Roboto', sans-serif;
}

/* ****---> header <---**** */

.header_banner {
background-color: var(--bannerbg-color) ; 
}

.logo {
    width: 80px;
    vertical-align: top;
}

.name_site {
    line-height: 50%;
    display: inline-block;
    margin-left: -1rem;
    font-size: 45px;
}

/* ****---> main <---**** */

.add_function {
    width: 100%;
    background-color: var(--bannerbg-color);
    margin-top: 2rem;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
    height: 3rem;
    margin-bottom: 3px;
}

.add_task {
    background-color: var(--bottoneditorial-color);
    border-radius: 5px;
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-left: 2.5rem;
    border: 1px solid var(--bottoneditorial-color);
    margin-top: 12px;
    display: inline-block;
}

.add_section {
    border: 1px solid #d2d6db;
    border-radius: 5px;
    font-size: smaller;
    padding: 5px;
    color: #d2d6db;
    margin-top: 12px;
    display: inline-block;
}

.new_section{
    margin-left: 2.5rem;
}

.subtitle {
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-left: 5px;
}

.text {
    margin-top: 0;
}

.list {
    background-color: var(--bannerbg-color);
    border-bottom-left-radius:  5px;
    border-bottom-right-radius:  5px;
}

.arrow{
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    display: inline-block;
}

.check{
    border-radius: 50%;
    width: 1.1rem;
    text-align: center;
    border: 1px solid var(--check-color);
    color: var(--check-color);
    vertical-align: middle;
    margin-top: 12px;
    display: inline-block;
}

.cross {
    border-radius: 50%;
    width: 1.1rem;
    text-align: center;
    border: 1px solid var(--cross-color);
    color: var(--cross-color);
    vertical-align: middle;
    margin-top: 12px;
    display: inline-block;
}

.text {
    display: inline-block;
    margin-left: 0.5rem;
}

.editorial {
    background-color: var(--bottoneditorial-color);
}

.goals {
    background-color: var(--bottongoals-color);
}

.recruiting {
    background-color: var(--bottonrecruiting-color);
}

.mobile {
    background-color: var(--bottonmobile-color);
}

.website{
    background-color: var(--bottonwebsite-color);
}

.sales{
    background-color: var(--bottonsales-color);
}

.post {
    border-radius: 14px;
    font-size: 11px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    display: inline-block;
}